* {
  text-align: center;
  box-sizing: border-box;
}

body {
  background-image: url(../image/bg3.jpg);
}

h1 {
  font-size: 3em;
  font-family: 'Kaushan Script', cursive;
  color: #1A1423;
  text-shadow: 1px 1px 1px #B4CDB7;
}

.outside {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
}

.container {
  position: relative;
  display: flex;
  min-height: 350px;
  border: 2px dashed black;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  width: 100%;
   background-color: rgba(255,255,255,1);
  justify-content: center;
}

.overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto 0;
  /*background-color: rgba(194, 194, 194, 0.4);*/
  z-index: 2;
}

.shading {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto 0;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
}

.board {
  display: flex;
  flex-direction: column;
  align-content: center;
  /*background-color: green;*/
  width: 70%;
}

.up {
  position: relative;
  height: 50%;
  /*background-color: rgba(0, 0, 0, 0.5)*/
}

.down {
  position: relative;
  height: 50%;
  /*background-color: rgba(0, 0, 0, 0.5)*/
}

.life {
  width: 20px;
  margin: 0 5px 0 0;
}

.life img {
  width: 100%;
}

p.textbox1 {
  display: none;
  position: absolute;
  border-bottom: 2px solid black;
  width: 200px;
  /* height: 50px; */
  height: auto;
  text-align: right;
  left: -180px;
  top: 52px;
  margin: 0;
  border-radius: 10px;
  line-height: 30px;
  text-transform: capitalize;
  font-size: 30px;
  padding: 0 5px 0 0;
  font-variant: small-caps;
  font-style: italic;
  transition-property: color;
  transition-delay: 1s;
  font-family: 'Source Code Pro', monospace;
  /* font-family: cursive; */
}

p.textbox2 {
  display: none;
  position: absolute;
  border-bottom: 2px solid black;
  width: 200px;
  /* height: 50px; */
  height: auto;
  text-align: left;
  right: -170px;
  top: 50px;
  margin: 0;
  border-radius: 10px;
  line-height: 30px;
  text-transform: capitalize;
  font-size: 30px;
  padding: 0 0 0 10px;
  font-variant: small-caps;
  font-style: italic;
  font-family: 'Source Code Pro', monospace;
  /* font-family: cursive; */
}

.counterlist {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  border-left: 2px dotted black;

  background-color: rgba(164, 194, 168, 1);
  width: 30%;
  line-height: 0.8em;
  /*display: flex;
  justify-content: column;*/
}

.counterlist div {
  text-transform: capitalize;
  font-size: 1em;
  margin: 7px auto;
  font-family: 'Source Code Pro', monospace;
  color: white;
}

.player {
  position: relative;
  width: 100%;
  height: 30px;
}

#countdown {
  height: 10px;
}

.animate {
  background-image: linear-gradient(90deg, #1A1423, #B4CDB7);
  animation-name: stretchRight;
  animation-duration: 0s;
  animation-delay: 0s;
  animation-timing-function: linear;
}

.disanimate {

}

.winscreen {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  background-repeat: repeat;
  background-image: url(../image/confetti.gif);
  transition: 2s linear;
  z-index: 1;
}

.winscreen p {
  font-size: 90px;
  z-index: 2;
  font-family: 'Kaushan Script', cursive;
}

.winscreen img {
  position: absolute;
  left: 215px;
  top: 65px;
  z-index: 3;
}
.winscreen button {
  position: absolute;
  z-index: 4;
  top: 220px;
  right: 100px;
}

.losescreen {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../image/raining1.gif);
  transition: 10s linear;
  z-index: 1;
}

.losescreen p {
  font-size: 90px;
  z-index: 2;
  font-family: 'Kaushan Script', cursive;
}

.losescreen img {
  position: absolute;
  left: 220px;
  top: 65px;
  z-index: 3;
}

.losescreen button {
  position: absolute;
  z-index: 4;
  top: 220px;
  right: 100px;
}

@keyframes stretchRight {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.toggle1 {
  color: #1A1423;
  text-shadow: 1px 1px 1px #B4CDB7;
  font-size: 1.3em;
}

#instruction {
  position: absolute;
  display: block;
  width: 200px;
  left: 200px;
  bottom: 35px;
}

#instruction img {
  position: absolute;
  left: -80px;
  bottom: 25px;
  width: 80px;
}

#instruction p {
  text-align: justify;
  font-family: 'Source Code Pro', monospace;
}

#info1 {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 160px;
}

#info1 p {
  text-align: justify;
  font-family: 'Source Code Pro', monospace;
}

#info1 img {
  position: absolute;
  right: 70px;
  bottom: -120px;
  width: 50px;
}

#info2 {
  position: absolute;
  top: 0px;
  right: 200px;
}

#info2 p {
  font-family: 'Source Code Pro', monospace;
}

#info2 img {
  position: absolute;
  left: 0px;
  bottom: -40px;
  width: 50px;
  transform: rotate(-20deg);
}

#info3 {
  position: absolute;
  top: 70px;
  left: 20px;
  width: 100px;
}
#info3 p {
  font-family: 'Source Code Pro', monospace;
}

#info3 img {
  position: absolute;
  left: 40px;
  top: -50px;
  width: 30px;
}

#enemyHP {
  display: flex;
  position: absolute;
  left: 10px;
  top: 10px;
  flex-direction: row;
}

#playerHP {
  display: flex;
  position: absolute;
  right: 10px;
  bottom: 10px;
  flex-direction: row-reverse;
}

#momo {
  position: absolute;
  right: 0;
  bottom: 0;
}

#momo2 {
  position: absolute;
  left: 0;
  top: 0;
}

#playerInput {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1;
  font-size: 22px;
  font-family: 'Source Code Pro', monospace;
}

#startbutton {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  font-size: large;
  font-family: 'Kaushan Script', cursive;
}

#startbutton:hover {
  background-color: #B4CDB7;
  color: #1A1423;
}
